# Editor
.vscode/
.idea/

# Dependencias / build (Vite)
node_modules/
dist/
dist-ssr/
dev-dist/
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# SO
.DS_Store
Thumbs.db
